/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

* {
	text-align: center;
	font-family: garamond;
	// border: 1px red solid;
	// margin: 1px;
}

div {justify-content: center;}
.div-flex {display: flex;}
#div-contenu {
	// background-size: 750px 1000px;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
#div-cri,
#div-devise {
	padding: 25px;
	background-image: url("Bannière.png");
	background-size: 100% 100%;
	display: inline-block;
}

img {filter: drop-shadow(3px 3px 1px #000000);}
.img-logo {width: 100px;}
#img-collier {
	width: 300px;
	margin-top: 75px;
}
#img-couronne {
	width: 250px;
	margin-bottom: -75px;
}
#img-écu {
	width: 200px;
	margin-top: 100px;
	position: absolute;
	z-index: 15;
}
#img-heaume {
	width: 125px;
	margin-bottom: -150px;
	z-index: 20;
	position: sticky;
}
#img-portant-dextre {margin-left: -125px;}
#img-portant-senestre {margin-right: -125px;}
#img-portant-dextre,
#img-portant-senestre {
	z-index: 10;
	position: sticky;
}

label {font-weight: bold;}

span {font-family: Consolas;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */