/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

* {
	text-align: center;
	font-family: Garamond;
	font-size: 25px;
	color: #ffffff;
	border-radius: 20px;
	/* border: 1px red solid;
	margin: 1px; */
}

body {background-color: #303841;}

button,
input,
select {
	background-color: #303841;
	border: 1px #ffffff solid;
	padding: 5px;
	box-shadow: 2px 2px 1px #000000;
	transition: ease 0.1s;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
	margin-right: 2px;
}

button:hover,
input:hover,
select:hover {
	cursor: pointer;
	box-shadow: 0 0 0 #000000;
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
}

div {justify-content: center;}
.div-espace {margin-top: 250px;}
.div-flex {display: flex;}
#div-autre {
	position: absolute;
	z-index: 15;
}

h1 {
	font-size: 60px;
	margin-right: 200px;
	margin-left: 200px;
}

img {
	filter: drop-shadow(0 0 2px #000000);
	border-radius: 0;
}
.img-logo {
	width: 100px;
	border-radius: 20px;
}

span {
	font-family: Gabriola;
	/* font-family: Chomsky */
	font-size: 30px;
	color: #000000;
}

td,
th {display: none;}

.caché {display: none;}

@media (max-width: 1000px) {

	* {font-size: 50px;}

	.img-logo {width: 200px;}

}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */