/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

* {
	text-align: center;
	font-family: Garamond;
	font-size: 25px;
	color: #ffffff;
	border-radius: 20px;
}

a {text-decoration: none;}

body {
	background-color: #303841;
	margin: 20px;
}

button,
input,
select {
	background-color: #303841;
	border: 1px #ffffff solid;
	padding: 5px;
	box-shadow: 2px 2px 1px #000000;
	transition: ease 0.1s;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 7px;
	margin-right: 7px;
}
button:hover,
input:hover,
select:hover {
	cursor: pointer;
	box-shadow: 0 0 0 #000000;
	margin-top: 7px;
	margin-left: 7px;
	margin-bottom: 5px;
	margin-right: 5px;
}

div {justify-content: center;}
.div-espace {margin-top: 250px;}
.div-flex {display: flex;}
#div-autre {
	position: absolute;
	z-index: 15;
}

h1 {
	font-size: 60px;
	margin-right: 200px;
	margin-left: 200px;
	color: #e8c869
}

h2 {
	font-size: 40px;
	margin-right: 300px;
	margin-left: 300px;
	color: #e8c869
}

fieldset,
hr {box-shadow: 2px 2px 1px #000000;}

img {
	filter: drop-shadow(0 0 2px #000000);
	border-radius: 0;
}
.img-lettrine {
	height: 50px;
	margin-bottom: -2px;
}
.img-lettrine:hover {cursor: text;}
.img-logo {
	width: 200px;
	border: 1px solid #ffffff;
	border-radius: 40px;
}

span {
	font-family: Gabriola;
	font-size: 30px;
	color: #000000;
}

td,
th {display: none;}

.caché {display: none;}

.important {
	position: sticky;
	bottom: 10px;
	padding: 25px;
	background-color: #005500;
}

@media (max-width: 1000px) {

	* {
		font-size: 50px;
		border-radius: 50px;
	}

	button,
	input,
	select {
		padding: 20px;
		margin: 20px;
	}
	button:hover,
	input:hover,
	select:hover {
		margin: 20px;
	}

	.img-logo {width: 200px;}

	.important {
		bottom: 50px;
		padding: 50px;
	}

}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */