/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

* {
	text-align: center;
	font-family: Garamond;
	font-size: 25px;
	color: #ffffff;
	border-radius: 20px;
	text-shadow: 0 0 2px #000000;
}

a {
	text-decoration: none;
	font-style: italic;
}
a:hover,
button:hover,
input:hover,
select:hover {cursor: url("Curseurs/Main.png"), pointer;}

body {
	background-color: #303841;
	margin: 20px;
	cursor: url("Curseurs/Flèche.png"), auto;
}

button,
input,
select {
	background-color: #303841;
	border: 2px #ffffff solid;
	padding: 5px;
	box-shadow: 0 0 2px #000000;
	transition: ease 0.05s;
	margin: 2px;
}
button:hover,
input:hover,
select:hover {
	box-shadow: 0 0 0;
	margin: 2px;
	border: 2px #e8c869 solid;
}

div {justify-content: center;}
.div-espace {margin-top: 250px;}
.div-flex {display: flex;}
#div-autre {
	position: absolute;
	z-index: 15;
}

fieldset {border: 2px solid #e8c869;}

h1 {
	font-size: 60px;
	margin-right: 200px;
	margin-left: 200px;
	color: #e8c869
}

h1:hover,
h2:hover,
span:hover {cursor: url("Curseurs/Plume.png"), text;}

h2 {
	font-size: 40px;
	margin-right: 300px;
	margin-left: 300px;
	color: #e8c869
}

hr {
	box-shadow: 0 0 2px #000000;
	height: 2px;
	background-color: #e8c869;
	border: 0;
}

img {
	filter: drop-shadow(0 0 2px #000000);
	border-radius: 0;
}
.img-lettrine-h1 {
	width: 50px;
	margin-bottom: -2px;
}
.img-lettrine-h2 {
	width: 30px;
	margin-bottom: -1px;
}
.img-logo {
	width: 200px;
	border: 2px solid #ffffff;
	border-radius: 40px;
}
.img-logo:hover {border: 2px solid #e8c869;}

span {
	font-family: Gabriola;
	font-size: 30px;
	color: #000000;
}

td,
th {display: none;}

.caché {display: none;}

.important {
	position: sticky;
	bottom: 10px;
	padding: 25px;
	background-color: #005500;
}

@media (max-width: 1000px) {

	* {
		font-size: 50px;
		border-radius: 50px;
		box-shadow: 0 0 0;
	}

	button,
	input,
	select {
		border: 4px #ffffff solid;
		margin: 20px;
		padding: 20px;
	}
	button:hover,
	input:hover,
	select:hover {
		margin: 20px;
		border: 4px #e8c869 solid;
	}

	fieldset {border: 4px solid #e8c869;}

	h1 {
		font-size: 120px;
		margin-right: 0;
		margin-left: 0;
	}

	h2 {
		margin-right: 100px;
		margin-left: 100px;
	}

	hr {height: 4px;}

	.img-lettrine-h1 {width: 90px;}
	.img-lettrine-h1 {width: 50px;}
	.img-logo {width: 300px;}

	.important {
		bottom: 50px;
		padding: 50px;
	}

}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */