/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

#div-couronne {margin-top: 175px;}
#div-contenu {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}
#div-cri,
#div-devise {
	background-image: url("Bannière.png");
	background-size: 100% 100%;
	display: inline-block;
	padding: 25px;
}

#img-couronne {
	position: sticky;
	z-index: 25;
}
#img-écu {
	position: absolute;
	z-index: 15;
}
#img-heaume {
	position: sticky;
	z-index: 20;
}
#img-portant-dextre,
#img-portant-senestre {
	position: sticky;
	z-index: 10;
}

.span-transformer {
	background-color: #ffffff;
	font-family: consolas;
}

@media print {
	header,
	footer {display: none;}
}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */