/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

fieldset {
	width: 750px;
	margin: auto;
}

input[type = "text"] {width: 250px;}

label {font-weight: bold;}
#label-titre {font-style: italic;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */