/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

fieldset {
	width: 750px;
	margin: auto;
}

.img-lettrine-h1 {margin-right: -10px;}
#img-catégorie {width: 75px;}

input[type = "text"] {width: 250px;}
input[type = "text"]:hover {cursor: url("../Curseurs/Plume.png"), text;}

label {font-weight: bold;}
.label-filtre {font-style: italic;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */