/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

fieldset {
	width: 750px;
	margin: auto;
}

.img-lettrine {margin-right: -10px;}
#img-catégorie {width: 75px;}

input[type = "text"] {width: 250px;}
.input-texte:hover {cursor: text;}

label {font-weight: bold;}
.label-filtre {font-style: italic;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */