/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

h2:hover {cursor: pointer;}

table {margin: auto;}

table,
th {border: 1px #ffffff solid;}

.img-icône {width: 25px;}

td, th {display: table-cell;}

.td-vide {background-color: grey;}
.td-vide:hover {cursor: not-allowed;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */