/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

h2:hover {cursor: url("../Curseurs/Main.png"), pointer;}

.img-icône {width: 25px;}

table {margin: auto;}

table,
th {border: 2px #ffffff solid;}

td,
th {display: table-cell;}
.td-vide {background-color: grey;}
.td-vide:hover {cursor: not-allowed;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                     Héraldix                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */